* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9f9fd;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #607d8b;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.logo {
  padding: 15px;
  border-radius: 4px;
  background-color: #ff5722;
  text-decoration: none;
  color: #fff;
}

.menu {
  display: flex;
  gap: 8px;
  padding: 15px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  background-color: #2196f3;
}

.menu .link {
  /* для того чтобы элементы списка заняли всю фиксированную высоту*/
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-set {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
  list-style: none;
}

.item {
  /*  Set the width of the elements  */
  flex-basis: calc((100% - 20px) / 3);

  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item h2 {
  margin-top: 0;
  font-size: 20px;
}

.item p {
  margin: 0;
}

/* speaker form */
/* .speaker-form {
  display: flex;
  flex-direction: column;
  width: 400px;
} */

/* ul {
  padding: 0;
  margin: 0;
} */

textarea {
  resize: none;
}

label {
  margin: 0;
  padding: 0;
}

.form {
  width: 600px;
  outline: 1px solid tomato;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 10px;
}

.form-field input {
  margin: 0;
  padding: 6px 10px;
}

.form-field input::placeholder {
  color: #909090;
}

.topic-options,
.experience-options {
  padding: 8px 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
}

.topic-options li,
.experience-options li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.topic-options label,
.experience-options label {
  margin-left: 8px;
}

.topic-options input[type="checkbox"];
